{% extends 'base.html.twig' %}

{% block body %}
    <div id="community">
        <div class="container">
            <div class="row">

                <div class="col s6">
                    <h4>Communities</h4>
                </div>
                <div class="col s6">
                    <div class="input-field  col s12">
                        <i class="material-icons prefix ">search</i>
                        <input type="text" id="autocomplete-input" class="autocomplete">
                        <label for="autocomplete-input">Search</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="offset-s4 col s4 offset-s4">
                    <a href="#!" class="waves-effect waves-purple btn-large black z-depth-5"><i class="material-icons left">supervisor_account</i>Insead</a>
                </div>
            </div>

            <div class="row">
                <div class="offset-s4 col s4 offset-s4">
                    <a href="#!" class="waves-effect waves-purple btn-large black z-depth-5"><i class="material-icons left">supervisor_account</i>Family</a>
                </div>
            </div>

            <div class="row">
                <div class="offset-s4 col s4 offset-s4">
                    <a href="#!" class="waves-effect waves-purple btn-large black z-depth-5"><i class="material-icons left">supervisor_account</i>Friends</a>
                </div>
            </div>
            <div class="col s12">
                <a href="newcommunity.html.twig" class="btn-floating btn-large waves-effect waves-light red z-depth-5"><i class="material-icons">add</i></a>
            </div>
        </div>
    </div>
{% endblock %}