{% extends 'base.html.twig' %}

{% block body %}
    <div id="newcommunity">
        <div class="container">
            <div class="row">
                <div class="input-field z-depth-5 offset-s4 col s4 offset-s4">
                    <input id="name" type="text" class="validate">
                    <label for="name">Community</label>
                </div>
            </div>
        </div>
    </div>

{% endblock %}