{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
    {% if targetUrl %}
    <p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
    {% endif %}

    <a href="{{ path('community_index') }}" class="waves-effect waves-light btn z-depth-5 teal darken-4">VALIDATE

    </a>
{% endblock fos_user_content %}
