{% extends 'base.html.twig' %}

{% block body %}

    <div class="parallax-container ">
        <div class="parallax"><img src="http://blog.art.com/artwiki/wp-content/uploads/2014/05/david-hockney-garrowby-hill-art-print.jpg" alt="tableau_David_Hockney"></div>
    </div>

    <div id="home">


        <div class="container">
                <div class="row">
                    <div class="col s12 m12 center">
                        <a href="{{ path('fos_user_registration_register') }}" class="waves-effect waves-light btn-large btn z-depth-5 teal darken-4 create">SING UP</a>
                    </div>
                </div>

                <div class="row">
                    <div class="col s12 m12 center">
                        <a href="{{ path('fos_user_security_login') }}"class="waves-effect waves-light btn-large btn z-depth-5 teal darken-4 create">LOG IN</a>
                    </div>
                </div>
        </div>

    </div>
    <div class="parallax-container">
        <div class="parallax"><img src="http://blog.art.com/artwiki/wp-content/uploads/2014/05/david-hockney-garrowby-hill-art-print.jpg" alt="tableau_David_Hockney"></div>
    </div>

{% endblock %}
